@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
  margin:0;
  font-style: 'Ubuntu';
  overflow: hidden;
  background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url("http://www.52dazhew.com/data/out/5/585365470-2560x1080-wallpaper-hd.png");
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #7e53ab 50%, #333333 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family: 'Ubuntu', sans-serif;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}


.mare {
    color: #e7e7e7;
    font-family: 'Raleway', sans-serif;
    text-align: center;

    font-size: 70px;
    letter-spacing: 2px;
    text-transform: uppercase;

    font-weight: 400;

    margin: 350px auto;
    animation: travel 4s;
}

.enable_music {
    color: #e7e7e7;
    font-family: 'Raleway', sans-serif;
    text-align: center;

    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;

    font-weight: 400;

    margin: 50px auto;
	-moz-animation: music 3s;
	-webkit-animation: music 3s;
}


@keyframes music {
    from {
        opacity: 0.1;
        transform: translateY(1000px);
    }

    to { 
        transform: translateY(0px);
    }
}

.mic {
    color: #e7e7e7;
    font-family: 'Raleway', sans-serif;
    text-align: center;

    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;

    font-weight: 100;

    margin: -350px auto;
	left: 50%;
	top:49%;
	animation: travelmic 1s ease-in-out;
}

.cacat {
    color: #e7e7e7;
    font-family: 'Raleway', sans-serif;
    text-align: center;

    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;

    font-weight: 100;

    margin: -350px auto;
	left: 50%;
	top:50%;
	animation: travelmic 1s ease-in-out;
}

strong{
	font-weight: 800;
}

.jos{
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
	position:absolute;
	left: 50%;
	top:10%;
	transform:translate(-50%, -50%);
}

@-moz-keyframes travelmic {
  0% {
    left: 0%;
  }
  100% {
    left: 50%;
  }
}

@-webkit-keyframes travelmic {
  0% {
    left: 0%;
  }
  100% {
    left: 50%;
  }
}

@-moz-keyframes travel {
  0% {
    top: 50%;
	opacity: 0.9;
  }
  25% {
    top: 60%;
	opacity: 0.9;
  }
  40% {
    left: 60%;
	opacity: 0.9;
  }
  65% {
    top: 40%;
	opacity: 0.9;
  }
  80% {
    left: 50%;
	opacity: 0.9;
  }
  100% {
    top: 40%;
	left: 50%;
	opacity: 0.9;
  }
}

@-webkit-keyframes travel {
  0% {
    top: 50%;
	opacity: 0.9;
  }
  25% {
    top: 60%;
	opacity: 0.9;
  }
  40% {
    left: 60%;
	opacity: 0.9;
  }
  65% {
    top: 40%;
	opacity: 0.9;
  }
  80% {
    left: 50%;
	opacity: 0.9;
  }
  100% {
    top: 40%;
	left: 50%;
	opacity: 0.9;
  }
}

.loading{
  position: absolute;
  top: 54.5%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 40px;
  display: flex;
  align-items: inline;
}
.obj{
  width: 2px;
  height: 30px;
  background: white;
  margin: 0 3px;
  border-radius: 10px;
  animation: loading 0.8s infinite;
}
.obj:nth-child(2){
  animation-delay: 0.1s;
}
.obj:nth-child(3){
  animation-delay: 0.2s;
}
.obj:nth-child(4){
  animation-delay: 0.3s;
}
.obj:nth-child(5){
  animation-delay: 0.4s;
}
.obj:nth-child(6){
  animation-delay: 0.5s;
}
.obj:nth-child(7){
  animation-delay: 0.6s;
}
.obj:nth-child(8){
  animation-delay: 0.7s;
}

.loading2{
  position: absolute;
  top: 50.5%;
  left: 48.5%;
  transform: translate(-50%,-50%);
  transform: rotate(180deg);
  height: 40px;
  display: flex;
  align-items: inline;
}
.obj2{
  width: 2px;
  height: 30px;
  background: white;
  margin: 0 3px;
  border-radius: 10px;
  animation: loading 0.8s infinite;
  animation-delay: 0.3s;
}
.obj2:nth-child(2){
  animation-delay: 0.1s;
}
.obj2:nth-child(3){
  animation-delay: 0.2s;
}
.obj2:nth-child(4){
  animation-delay: 0.3s;
}
.obj2:nth-child(5){
  animation-delay: 0.4s;
}
.obj2:nth-child(6){
  animation-delay: 0.5s;
}
.obj2:nth-child(7){
  animation-delay: 0.6s;
}
.obj2:nth-child(8){
  animation-delay: 0.7s;
}


@keyframes loading {
  0%{
    height: 0;
  }
  50%{
    height: 40px;
  }
  100%{
    height: 0;
  }
}

.boxulini {
  width: 300px;
  height: 350px;
  background-color: #4CAF50;
  border: none;
  color: white;
  text-decoration: none;
  border-radius: 5%;
  position: absolute;
  top: 80%;
  font-family: Ubuntu;
  text-align: center;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 19px;
  cursor: pointer;
  background: 
    linear-gradient(90deg, white 50%, transparent 50%),
    linear-gradient(0deg, white 50%, transparent 50%),
    linear-gradient(90deg, white 50%, transparent 50%),
    linear-gradient(0deg, white 50%, transparent 50%);
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-size: 50px 8px, 8px 50px, 50px 8px, 8px 50px;
  background-position: left top, right top, left bottom, left top;
  padding: 4px;
  animation: border-dance 4s infinite linear;
}



@keyframes border-dance 
{
  0%
  {
    background-position: left top, right top, right bottom, left bottom;
  }
  100% 
  {
    background-position: right top, right bottom, left bottom, left top;
  }
}

@-moz-keyframes border-dance {
  0%
  {
    background-position: left top, right top, right bottom, left bottom;
  }
  100% 
  {
    background-position: right top, right bottom, left bottom, left top;
  }
}

@-moz-keyframes vinesare {
  0% {
    top: 80%;
  }
  25% {
    top: 78%;
  }
  50% {
    top: 82%;
  }
  75% {
    top: 78%;
  }
  100% {
    top: 80%;
  }
}

@-webkit-keyframes vinesare {
  0% {
    top: 80%;
  }
  25% {
    top: 78%;
  }
  50% {
    top: 82%;
  }
  75% {
    top: 78%;
  }
  100% {
    top: 80%;
  }
}

.boxulini2 {
  width: 300px;
  height: 350px;
  background-color: #4CAF50;
  border: none;
  color: white;
  text-decoration: none;
  border-radius: 5%;
  position: absolute;
  top: 80%;
  font-family: Ubuntu;
  text-align: center;
  left: 30%;
  transform: translate(-50%,-50%);
  font-size: 19px;
  cursor: pointer;
  background: 
    linear-gradient(90deg, white 50%, transparent 50%),
    linear-gradient(0deg, white 50%, transparent 50%),
    linear-gradient(90deg, white 50%, transparent 50%),
    linear-gradient(0deg, white 50%, transparent 50%);
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-size: 50px 8px, 8px 50px, 50px 8px, 8px 50px;
  background-position: left top, right top, left bottom, left top;
  padding: 4px;
  animation: border-dance 4s infinite linear;
  -moz-animation: border-dance 4s infinite linear, vinesare 2s infinite ease-in-out;
  -webkit-animation: border-dance 4s infinite linear, vinesare 2s infinite ease-in-out;
}

.boxulini3 {
  width: 300px;
  height: 350px;
  background-color: #4CAF50;
  border: none;
  color: white;
  text-decoration: none;
  border-radius: 5%;
  position: absolute;
  top: 80%;
  font-family: Ubuntu;
  text-align: center;
  left: 70%;
  transform: translate(-50%,-50%);
  font-size: 19px;
  cursor: pointer;
  background: 
    linear-gradient(90deg, white 50%, transparent 50%),
    linear-gradient(0deg, white 50%, transparent 50%),
    linear-gradient(90deg, white 50%, transparent 50%),
    linear-gradient(0deg, white 50%, transparent 50%);
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-size: 50px 8px, 8px 50px, 50px 8px, 8px 50px;
  background-position: left top, right top, left bottom, left top;
  padding: 4px;
  animation: border-dance 4s infinite linear;
  -moz-animation: border-dance 4s infinite linear, vinesare 2s infinite ease-in-out;
  -webkit-animation: border-dance 4s infinite linear, vinesare 2s infinite ease-in-out;
}

.textmare2 {
  font-size: 30px;
  font-weight: bold;
  padding: 40px 32px;
  font-family: 'Raleway', sans-serif;
  top: 20px;
  position: center;
}

.textmicchild2 {
  font-size: 15px;
  font-weight: bold;
  padding: 16px 32px;
  font-family: 'Raleway', sans-serif;
}

.textcopy{
  font-size: 10px;
  font-weight: bold;
  padding: 16px 32px;
  position: absolute;
  left: 9.25%;
  top:99%;
  color: white;
  transform: translate(-50%,-50%);
  font-family: 'Raleway', sans-serif;
}


.info {
  background-color: rgba(0,0,0,0.60);
}

.info:hover {
  background-color: transparent;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top:80%;
  transform: translate(-50%,-50%);
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}