body {
  font-size: 14px;
  line-height: 1.8;
  height: 80px;
  color: #fff;
  background-image: url("../images/background.png");
  /*display: none;*/
}

.margin-top {
  margin-top: 80px;
}

.margin-bottom {
  margin-bottom: 40px;
}

.margin-0 {
  margin: 0px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

/* Logo */
.logo {
  bottom: -50px;
  height: auto;
  width: 300px;
  left: 40px;
}

/* Form */
.container-form {
  width: 60%;
  color: white;
  top: 0px;
  padding: 3% 0% 5% 53%;
  text-align: left;
}

.form-group {
  margin-bottom: 23px;
}

.form-group input {
  width:100%;
}

input {
  border: none;
  box-sizing: border-box;
  border-bottom: 1px solid #ebebeb;
  background: transparent;
  display: block;
  color: #fff;
  font-size: 14px;
  padding: 3px 0;
}
input::-webkit-input-placeholder {
  font-weight: 400;
  color: #fff;
}
input::-moz-placeholder {
  font-weight: 400;
  color: #fff;
}
input:-ms-input-placeholder {
  font-weight: 400;
  color: #fff;
}
input:-moz-placeholder {
  font-weight: 400;
  color: #fff;
}
input:focus {
  font-weight: bold;
}

.field-icon {
  float: right;
  margin-right: 0px;
  margin-top: -22px;
  position: relative;
  z-index: 2;
  color: #fff;
}

input[type=checkbox]:not(old) {
  width: 2em;
  margin: 0;
  padding: 0;
  font-size: 1em;
  display: none;
}

input[type=checkbox]:not(old) + label {
  display: inline-block;
  margin-bottom: 25px;
}

input[type=checkbox]:not(old) + label > span {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 15px;
  margin-bottom: 4px;
  border: 1px solid #fff;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  background: transparent;
  vertical-align: bottom;
}

input[type=checkbox]:not(old):checked + label > span {
  background: transparent;
}

input[type=checkbox]:not(old):checked + label > span:before {
  content: '\f26b';
  display: block;
  color: #fff;
  font-size: 11px;
  line-height: 1.2;
  text-align: center;
  font-family: 'Material-Design-Iconic-Font';
  font-weight: bold;
}

/* Radio button */
.group {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

input[type="radio"] {
  opacity: 0;
  z-index: -1;
}

label {
  position: relative;
  margin-right: 1em;
  padding-left: 2em;
  padding-right: 1em;
  line-height: 2;
  cursor: pointer;
}
label:before {
  box-sizing: border-box;
  content: " ";
  position: absolute;
  top: 0.3em;
  left: 0;
  display: block;
  width: 1.4em;
  height: 1.4em;
  border: 2px solid white;
  border-radius: .25em;
  z-index: -1;
}
input[type="radio"] + label::before {
  border-radius: 1em;
}
/* Checked */
input[type="radio"]:checked + label {
  padding-left: 1em;
  color: #ffffff;
}
input[type="radio"]:checked + label:before {
  top: 0;
  width: 100%;
  height: 2em;
  background: #ff6a37;
}
/* Transition */
label,
label::before {
  transition: .25s all ease;
}

.form-group {
  margin-bottom: 23px;
}

  .form-group input {
    width:100%;
  }

  /* BTN SUBMIT */
  .form-submit {
	width: auto;
	display: inline-block;
	border: none;
	background: #ff6a37;
	color: #fff;
	padding: 4px;
	height: 37px;
    box-shadow: 0px 15px 9.9px 0.1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 15px 9.9px 0.1px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 15px 9.9px 0.1px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 15px 9.9px 0.1px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 15px 9.9px 0.1px rgba(0, 0, 0, 0.15);
	margin-right: 25px;
}

.form-submit:hover {
	background-color: #ff914b;
}

.submit {
	width: 99px;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 9px;
    -o-border-radius: 25px;
    -ms-border-radius: 25px;
    text-transform: uppercase;
    font-size: 13px;
    cursor: pointer; }
